.search-bar {
	margin: 20px;
	text-align: center;
}

.header-link {
	color: black;
}

.header-link:hover {
	color: black;
	text-decoration: none;
}

.video-item img {
	max-width: 64px;
}

.video-detail {
	color: black;
}

.video-detail .details {
	color: black;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}